@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
@import url('https://unpkg.com/normalize.css') layer(normalize);
/* @import 'normalize.css' layer(normalize); */


body.dark-mode {
      background-color: black;
      color: white;
    }
    
    body.light-mode {
      background-color: white;
      color: black;
    }


    p::selection {
      background-color: red;
    }

    .underline-link {
      text-decoration: underline;
    }



.centered-text {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 70px; 
  margin: 40px;
  height: 400px;
}

